acpilight
alacritty
alsa-plugins
alsa-utils
autoconf
automake
awesome
base
bash-completion
bat
bind
bison
blueman
btop
btrfs-progs
dbus-python
dhcpcd
dialog
discord
dmidecode
docker
docker-compose
dosfstools
efibootmgr
exa
exfat-utils
fd
file-roller
firefox
fish
fisher
flex
fuse2
fuse3
fuseiso
fzf
galculator
gcc
git
glow
gnome-keyring
gparted
gptfdisk
groff
grub
grub-customizer
gsfonts
gst-libav
gst-plugins-base
gst-plugins-good
gst-plugins-ugly
gvfs
jq
kmix
libnewt
libtool
linux
linux-firmware
linux-headers
lsof
lzop
m4
make
neofetch
neovim
network-manager-applet
networkmanager
nitrogen
notepadqq
noto-fonts
noto-fonts-cjk
noto-fonts-emoji
noto-fonts-extra
ntfs-3g
os-prober
p7zip
pacman-contrib
patch
pkgconf
playerctl
polkit-gnome
polybar
pulseaudio
pulseaudio-alsa
pulseaudio-bluetooth
python-git-url-parse
python-pip
rofi
rsync
scrot
sdl_ttf
simplescreenrecorder
starship
stow
sudo
texinfo
thefuck
thunar
thunar-archive-plugin
traceroute
ttf-bitstream-vera
ttf-dejavu
ttf-liberation
unrar
unzip
usbutils
vlc
wget
which
xclip
xf86-input-synaptics
xf86-input-wacom
xf86-video-amdgpu
xorg-appres
xorg-bdftopcf
xorg-docs
xorg-font-util
xorg-fonts-100dpi
xorg-fonts-75dpi
xorg-fonts-alias-100dpi
xorg-fonts-alias-75dpi
xorg-fonts-alias-cyrillic
xorg-fonts-alias-misc
xorg-fonts-cyrillic
xorg-fonts-encodings
xorg-fonts-misc
xorg-fonts-type1
xorg-iceauth
xorg-mkfontscale
xorg-oclock
xorg-server
xorg-server-common
xorg-server-devel
xorg-server-xephyr
xorg-server-xnest
xorg-server-xvfb
xorg-sessreg
xorg-setxkbmap
xorg-smproxy
xorg-twm
xorg-util-macros
xorg-x11perf
xorg-xauth
xorg-xbiff
xorg-xcalc
xorg-xclipboard
xorg-xclock
xorg-xcmsdb
xorg-xconsole
xorg-xcursorgen
xorg-xdm
xorg-xdpyinfo
xorg-xdriinfo
xorg-xedit
xorg-xev
xorg-xeyes
xorg-xfd
xorg-xfontsel
xorg-xgamma
xorg-xhost
xorg-xinit
xorg-xinput
xorg-xkbcomp
xorg-xkbevd
xorg-xkbutils
xorg-xkill
xorg-xload
xorg-xlogo
xorg-xlsatoms
xorg-xlsclients
xorg-xlsfonts
xorg-xmag
xorg-xman
xorg-xmessage
xorg-xmodmap
xorg-xpr
xorg-xprop
xorg-xrandr
xorg-xrdb
xorg-xrefresh
xorg-xset
xorg-xsetroot
xorg-xvidtune
xorg-xvinfo
xorg-xwayland
xorg-xwd
xorg-xwininfo
xorg-xwud
xterm
zip
zsh
