# System
btrfs-progs
coreutils
xorg-xdm
xorg-setxkbmap # keyboard layout
xorg-xkill
xorg-xprop
xorg-xrandr
xorg-xbacklight
xorg-xset
pamac # arch package manager
xterm
perl-file-mimeinfo

# Drivers
xf86-input-synaptics
xf86-input-wacom
xf86-video-amdgpu
usbutils

# Window manager
awesome
picom-jonaburg-git # X11 compositor
feh # wallpaper
polybar # status bar
    # Dependencies
    dbus-python

# Network
networkmanager
network-manager-applet
termshark # wireshark clone

# Bluetooth
blueman
bluez
bluez-utils

# Audio
alsa-utils
pulseaudio
pulseaudio-alsa
pavucontrol

# Media
playerctl

# Services
kdeconnect
vagrant
docker
docker-compose

# Key management
gnome-keyring
seahorse

# Fonts
ttf-jetbrains-mono-nerd

# Man pages
man-pages
tealdeer
# Terminal commands
yay # aur package manager
downgrade
wget
xclip # clipboard
zip
unrar
unzip
stow
rsync
httpie
jq
scrot
ripgrep
eza
fd
fzf
git
glow
bat
btop
curl

rofi
    # Dependencies
    python-dbus
    python-gi
    python-gobject

# Apps
thunar
thunar-archive-plugin
simplescreenrecorder
virtualbox
stremio
visual-studio-code-bin
spotify
notepadqq
notion-app
vlc
discord
gimp

# Terminal stuff
alacritty
alacritty-themes
zsh
starship
neovim
tmux

# Development
pip
python
postgresql
ruby
postman-bin

# Games
supertuxcart
supertux
