acpilight
alacritty
alacritty-themes
awesome
bat
blueman
btop
btrfs-progs
dbus-python
discord
docker
docker-compose
exa
fd
firefox
fzf
git
glow
gnome-keyring
jq
neofetch
neovim
networkmanager
nitrogen
notepadqq
notion-app
os-prober
pamac
picom-jonaburg-git
pip
playerctl
polybar
python
python-dbus
python-gi
python-gobject
rofi
rsync
scrot
simplescreenrecorder
spotify
starship
stow
thefuck
thunar
thunar-archive-plugin
unrar
unzip
usbutils
vlc
wget
xclip
xf86-input-synaptics
xf86-input-wacom
xf86-video-amdgpu
xorg-setxkbmap
xorg-xkill
xorg-xprop
xorg-xrandr
xterm
yay
zip
zsh
