alacritty
bash
bat
btop
discord
docker
docker-compose
dolphin
dolphin-plugins
exa
fd
fish
fisher
fzf
glow
neofetch
neovim
noto-fonts
noto-fonts-emoji
pacman
python-pillow
python-pip
ripgrep
rsync
starship
sudo
sysfsutils
systemd
terminus-font
usbutils
wget
which
xdg-utils
